# Geral
node_modules/

# Logs
npm-debug.log*
logs
*.log

# OS
.DS_Store

# Editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.github/

# Variáveis de Ambiente e Segredos - serão commitadas para facilitar rodar o teste

# Builds e Distribuição (Backend & Frontend)
dist/
build/
out/
coverage/

# Prisma gerado
backend/src/generated/

# Cache
.astro/
